<% include ./partial/header.ejs %>


<div class= "ui huge header">
	About this website
</div>


<div class="ui main text container segment">
	
<div class= "ui  header">
	About myself
</div>
	<p>
	Hello! I am Wanli Ma, an Applied Mathematics Graduate Student in NC State University. I have 3 years research experience in Machine Learning and Numerical Method, and 2 years working experience in Web Development. 
	</p>
	<p>	
	I am passionate about trending machine learning techniques such as reinforced learning, instance segmentation, etc.
	</p>	
	
	<p>
	Full Stack Tools I use: Java, JavaScript, Node.js, Express, jQuery, HTML5, CSS, Bootstrap 
	</p>	
	
	<p>
	Data Engineering Tools I use: SQL, MongoDB, Mongoose, Python (Tensorflow, Keras, Numpy, Scikit-Learn)
	</p>

	<div class= "ui  header">
		About this website
	</div>	
	
	<p>I created this website using Node.js, HTML5, CSS in GoormIDE, a cloud-based workspace. I used MongoDB for data manipulation and have used several Express packages and Semantic UI, a CSS library for this website.
	</p>
	<p>
This website was created via the REST Routing routine and you can find the code here.	
	</p>

</div>	
	

<% include ./partial/footer.ejs %>

