<html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<body>

	<p>
	<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item">
					<i class="film icon" ></i>Wanli's Movie Collection Blog
				</div>
				
				<a href ="/" class=item>Home</a>
				<a href ="/blogs/new" class=item>Add New Post</a>
				<a href ="/blogs/about" class=item>About this website</a>
			</div>
		

	</div>
	
		
		
	</p>